version: '3.8'

services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: user
      TZ: America/Argentina/Buenos_Aires
      PGTZ: America/Argentina/Buenos_Aires

    ports:
      - "5432:5432"
    volumes:
      - ./postgres:/var/lib/postgresql
